.header-inner.d-flex.justify-content-between.align-items-center
    .d-flex.header-logo.position-sticky.start-50(onclick='window.location.href = "/"')
        h1 M
        h1 E
    button#checkAdmin.btn.btn-primary.me-5(type='button') Войти
